.comments {
  display: grid;
  // padding: 60px 60px;
  justify-items: center;
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 400px;
    grid-gap: 20px;
    margin-left: 50px;
    justify-content: center;
  }
  margin-top: 0;
}

.comment {
  width: 350px;
  height: 250px;
  padding: 15px 15px;
  background-color: $darkmagenta;
  border-radius: 8px;
  color: white;

  .profile {
    display: flex;
    img {
      border-radius: 50%;
      margin: 20px 20px 0px 0px;
    }
    .names {
      margin-top: 25px;
    }
    #name {
      color: white;
      font-weight: 500;
      margin-top: 25px;
    }
    p {
      color: $softpink;
      margin: 0;
    }
  }
  #review {
    color: white;
  }
}
.comment2 {
  margin-top: 25px;
}
.comment3 {
  margin-top: 25px;
  @media screen and (min-width: 900px) {
    margin-top: 50px;
  }
}
